/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d9d9d9;
  color: #fff;
  padding: 50px;
}

footer {
  background-color: #d9d9d9;
  color: #fff;
  padding: 8px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  margin-left: 7cm;
  margin-right: 5cm;
  padding: 50px;
  }


footer {
  text-align: center;
}

/* 추가적인 스타일은 여기에 작성합니다. */
p {
  font-family: 'NanumSquare';
  font-weight: 300;
  margin-bottom: 1.5cm;
  line-height: 1.6em;
  word-spacing: 0.14em;
  letter-spacing: 0.11em;
}

image {
  max-width: 88%;
}

.Blue { 
  font-size: 1.35em;
  color:rgb(22, 180, 93);

}


.box {
  height: 201px;
  width: 1920px;
}

.box .header {
  background-color: #d9d9d9;
  height: 201px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.title {
  font-size: 3em;
  margin-top: 70px;
  font-style: italic;
  text-align: center;
}

.small {
  font-size: 0.8em;
  color: #b8c0c3;
}

.insight
{
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 120px;
}